body{
  background: #f1fec6;
  color: #74a4bc;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif
  font-weight: lighter;
}

h1{
  font-family: 'Raleway', sans-serif;
  color: #29339b ;
  font-weight: bold;
  font-size: 50px;
}
h2 {
  color: #493657;
  font-weight: lighter;
  font-size: 25px;
}
a {
  color: #b14aed;
}
a:hover {
  text-decoration: none;
  color: red	 ;
}

#banner {
	text-align: center;
	background-image: url(images/bg1.jpeg);
  background-size: cover;
  margin:auto;
  color: white;
  text-shadow: 1px 1px 5px black;
  padding-bottom: 90px;
  padding-top: 90px;
}

#banner h1 {
	color : red;
}

#banner p {
  font-family: 'Montserrat', sans-serif;
	color : #2a1a1f;
	text-shadow: none;
	font-size : 18px;
  margin: 50px;
}

.card {
  font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding: 150px;
	font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 7px;

}

.card p {
  font-family: 'Montserrat', sans-serif;
  color: #251351;
}

.card1 {
  background-color: #f9564f;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 122px;
}

.card2 {
  background-color: #4ecdc4;
  padding: 50px;
  padding-top: 80px;
  padding-left: 45px;
  padding-bottom: 122px;
}

.card3 {
  background-color: #ffcbdd;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.card4 {
  background-color: #0cce6b;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 100px;
}

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  background-size: cover;
  color: lightgrey;
  font-size: 13px;
}

#footer a {
	color:white;
	font-size: 20px;
}

#footer a:hover {
	color: lightgrey;
}

.fa-youtube {
	color:#E90000;
}

.fa-facebook {
	color:#2b59c3;
}

.fa-twitter {
	color:#18a999;
}

.btn-default {
	color:#b14aed ;
}